html,
body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(24, 24, 24);
    display: grid;
    grid-template-columns: 300px 0.5fr 1fr 0.5fr;
}

header {
    grid-column: 1 / 2;
}

header nav {
    display: flex;
    flex-direction: column;
}

#content {
    grid-column: 3 / 4;
}


nav button {
    background-color: transparent;
    color: #686868;
    font-size: x-large;
    text-align: left;
    border: 1px solid transparent;
    border-radius: 6px;
}

nav button:hover {
    color: white;
    background-color: #686868;
}

.projects {
    display: grid;
    /*justify-items: center;*/
    /*row-gap: 20px;*/
    background-color: rgb(44, 44, 44);
    border: 1px solid white;
}

.projects .title {
    justify-self: center;
    color: white;
    font-size: xxx-large;
}

.wrapper {
    margin-left: 10px;
}

.wrapper p {
    color: white;
}

.wrapper .projectName {
    font-size: xx-large;
    font-weight: bold;
}

.projectItem,
.addItem {
    display: flex;
    gap: 5px;
}

.checkboxItem {
    height: 22px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: transparent;
    color: transparent;
    transition:
            color .25s,
            background-color .25s;
}

.checkboxItem:hover {
    cursor: pointer;
    color: grey;
    transition: color .25s;
}

.checkboxItem.pressed {
    color: white;
}

.projectItem .itemName {
    font-size: x-large;
}

.projectItem .itemDesc {
    color: rgb(204, 204, 204);
}

.itemContainer:hover {
    cursor: pointer;
}

.itemName.done {
    text-decoration: line-through;
}

.itemDesc.done {
    text-decoration: line-through;
}

#editDialog {
    height: 600px;
    width: 600px;
    background-color: #2c2c2c;
    border: 1px solid transparent;
    border-radius: 8px;
}

#editDialog .itemEditForm {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
}

.itemEdit {
    display: grid;
    row-gap: 5px;
}

.itemEditButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    grid-column: 1 / 2;
}

textarea[name*='item'] {
    background-color: #1E1E1E;
    color: white;
    border-radius: 4px;
    resize: none;
    min-height: 18px;
}

textarea[name='itemName'] {
    font-size: 20px;
}

textarea[name='itemDesc'] {
    font-size: 15px
}

.itemEditAux {
    display: grid;
    justify-items: end;
    align-items: start;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.statusItem .priorityOne {
    color: blue;
}

.statusItem .priorityTwo {
    color: yellow;
}

.statusItem .priorityThree {
    color: red;
}

.addItem {
    color: white;
    font-size: x-large;
    border: none;
    background-color: transparent;
}

.addItem:hover {
    cursor: pointer;
    color: red;
    transition: color 0.25s;
}

.addItem.hidden {
    visibility: hidden;
}

.projectContainer {
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    font-size: x-large;
    color: white;
    border-radius: 6px;
}

.projectContainer:hover,
.addProject:hover {
    cursor: pointer;
    background-color: gray;
    transition:
            background-color 0.1s;
}

.projectContainer .projectName {
    padding: 10px;
}

#editProjectName {
    height: 100px;
    width: 200px;
    background-color: #2c2c2c;
    border: 1px solid transparent;
    border-radius: 8px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown:hover .dropdownOptions {
    display: block;
}

.dropdownOptions {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1000;
}

.dropdownOptions button {
    height: 30px;
    width: 100px;
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 10px;
}

.addProject {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    justify-items: start;
    font-size: x-large;
    color: white;
    background-color: #6b6b6b;
    border: 1px solid transparent;
    border-radius: 6px;
}